nav .right {
    margin-left: 83%;
}

.right-auth {
    margin-left: 73%;
}

.far-right {
    margin-left: 93%;
}

.wider {
    margin: auto 6%  !important ;
    color: white !important;
}

.nav-first {
    color: white !important;
}

.nav-link-margin {
    margin: 0 2.5% !important;
}

.under-input-disclaimer {
    font-size: small;
}

.sign-up-input {
    height: 3rem !important;
}

.sign-up-label {
    padding-top: 0.7rem !important;
    padding-bottom: 0.5rem !important;
}

.sign-up-header {
    color: #17a2b8;
}

input[type='email'] {
    margin-top: 1%;
}

.dash-header {
    color: #17a2b8 !important;
}

.profile-header {
    color: #17a2b8 !important;
}